

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color : #1b6ec2;
    border-color: #1861ac;
}

html {
  font-size: 14px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='coral' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*.navbar-toggler {
    border: 2px solid coral;
}*/

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top{
    border: 1px solid #e5e5e5;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.divider { /* minor cosmetics */
    display: table;
    font-size: 18px;
    text-align: center;
    width: 95%; /* divider width */
    margin: 15px auto; /* spacing above/below */
}

    .divider span {
        display: table-cell;
        position: relative;
    }

        .divider span:first-child, .divider span:last-child {
            width: 50%;
            top: 13px; /* adjust vertical align */
            -moz-background-size: 100% 2px; /* line width */
            background-size: 100% 2px; /* line width */
            background-position: 0 0, 0 100%;
            background-repeat: no-repeat;
        }

        .divider span:first-child { /* color changes in here */
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#96958d));
            background-image: -webkit-linear-gradient(180deg, transparent, #96958d);
            background-image: -moz-linear-gradient(180deg, transparent, #96958d);
            background-image: -o-linear-gradient(180deg, transparent, #96958d);
            background-image: linear-gradient(90deg, transparent, #96958d);
        }

        .divider span:nth-child(2) {
            color: #96958d;
            padding: 0px 5px;
            width: auto;
            white-space: nowrap;
        }

        .divider span:last-child { /* color changes in here */
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#96958d), to(transparent));
            background-image: -webkit-linear-gradient(180deg, #96958d, transparent);
            background-image: -moz-linear-gradient(180deg, #96958d, transparent);
            background-image: -o-linear-gradient(180deg, #96958d, transparent);
            background-image: linear-gradient(90deg, #96958d, transparent);
        }